body
{
    
    background-color:rgb(201, 241, 195);
}
h1
{
    color: rgb(3, 12, 20);
}

.my_nav_bar
{
    position: sticky;
    top: 0;
    z-index: 99999;
}
img
{
    width: 80%;
    height: 80%;
}
.travel_main.Div
{
    border: 1px solid lightgrey;
}
.travel_main.Div
{
    width: 100%;
}
.travel_main.Div h5, .travel_main.Div p
{
    margin: 20px;
} 
.movie_head
{
    font-size: 20px;
    padding: 6px 22px;
    margin-bottom: 15px;
    border: 10px;
}
.movie_head i
{
    float: right;
}
.movie_text span
{
    color: orange;
}
.new
{
    margin-bottom: 20px;
}
#contact iframe
{
    width: 100%;
}
#school
{
    padding-bottom: 10%;
}